<div class="card">
    <div class="card-body">
        <h1>about</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero dolore sunt beatae esse quia, maxime optio enim voluptatibus porro. Nesciunt, ad temporibus. Voluptate nemo quos doloribus error, ab vitae optio.</p>
    </div>
</div>