<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">New Note</div>
        <div class="card-doby">
            <form action="/">
                <div class="form-group">
                    <input type="text" name="tittle" class="form-control" placeholder="Tittle" autofocus>
                </div>
            </form>
        </div>
    </div>
</div>